.fighter-preview___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 600px;
  width: 400px;
  text-align: center;
  color: #f8f9f4;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 4px 0;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img-container {
  height: 480px;
  width: 400px;
}

.fighter-preview___img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.fighter-preview___info {
  background: #00000088;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.2rem 0.6rem 0.5rem;
}

.fighter-preview___scale {
  position: relative;
  border: 2px solid #f8f9f4;
  border-radius: 6px;
  padding: 0.3rem;
  flex: 0 0 0.6rem;
}

.fighter-preview___type {
  position: absolute;
  top: -1.2rem;
  left: 0;
  color: inherit;
}

.fighter-preview___type-value {
  position: absolute;
  top: 0;
  right: .5rem;
  color: inherit;
  font-weight: 800;
  font-size: 1.1rem;
}

.fighter-preview___health {
  background: #ba0303;
}

.fighter-preview___attack {
  background: #0e4119;
}

.fighter-preview___defense {
  background: #131139;
}

